{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/pages/providers" }}
{{ $subpages := $headless.Resources.ByType "page" }}
{{ $subpages := sort $subpages ".Params.weight" }}
{{ range $index, $subpage := $subpages }}

<div class="container mt-3 nb-3">
    <div class="row mt-3 mb-1">
        <div class="text-center">
            <img src="{{ $subpage.Params.background | relURL }}" alt="profile picture" class="rounded-circle align-self-center" style="width: 250px;">
        </div>
        <div>
            <h2 class="text-primary text-capitalize pt-2 pb-2 text-center">{{ $subpage.Title }}</h2>
            {{ $subpage.Content }}
        </div>
    </div>

    {{ if lt $index (sub (len $subpages) 1) }}
        <hr>
    {{ end }}
</div>

{{ end }}

{{ .Content }}

{{ end }}
