<div class='header header-absolute'>
  <div class="container">
    <div class="container">
      <div class="row justify-content-center align-items-center p-0">
        <div class="col-auto p-0">
          <a href="{{ .Site.BaseURL }}">
            <img height="{{ .Site.Params.logo.desktop_height }}" width="{{ .Site.Params.logo.desktop_width }}" alt="{{ .Site.Params.logo.alt }}" src="{{ .Site.Params.logo.desktop | relURL }}" />
          </a>
        </div>
        <div class="col-auto text-center p-0">
          <p class="lead mb-0 lh-1.10 p-0"><strong>Thomas Asciuto MD</strong></p>
          <p class="text-muted mb-0 lh-1 p-0">OC Lung Doctor</p>
        </div>
      </div>
    </div>
    
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>

<!-- <div class='header header-absolute'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img height={{ .Site.Params.logo.desktop_height }} width={{ .Site.Params.logo.desktop_width }} alt="{{ .Site.Params.logo.alt }}" src="{{ .Site.Params.logo.desktop | relURL }}" /></a>
      <p class="lead"><strong>Thomas Asciuto MD Corp</strong></p>
      <p class="text-muted">OC Lung Doctor</p>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img height={{ .Site.Params.logo.mobile_height }} width={{ .Site.Params.logo.mobile_width }} alt="{{ .Site.Params.logo.alt }}" src="{{ .Site.Params.logo.mobile | relURL }}" /></a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div> -->