{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
      {{ .Content }}
      <ul>
        
        <!-- address -->
        {{ if .Site.Data.contact.address }}
        <li style="white-space: pre-wrap;"><strong>Address: </strong><br>{{ .Site.Data.contact.address }}</li>
        {{ end }}

        <!-- phone -->
        {{ if .Site.Data.contact.phone }}
        <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li>
        {{ end }}
        
        <!-- fax -->
        {{ if .Site.Data.contact.fax }}
        <li><strong>Fax: </strong> {{ .Site.Data.contact.fax }}</li>
        {{ end}}

        <!--email -->
        {{ if .Site.Data.contact.email }}
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ end }}
        
        <li><strong>Hours: </strong> </li>
        <p> Monday - Friday: 9am - 5pm</p>


      </ul>
      

    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src='map.jpg' class="img-fluid rounded-2">
    </div>
    
  </div>
{{ end }}

